@page
@{
    Layout = "_Layout";
}

<!-- Hero section -->
@section Hero {
    <section class="hero-section text-center text-white d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4 fw-bold">Welcome to Recipea</h1>
        <p class="lead mb-4">Save or import your favorite recipes.</p>
        <div>
            <a class="btn btn-success btn-lg me-2" asp-page="/Account/Login">Log In</a>
            <a class="btn btn-outline-light btn-lg" asp-page="/Account/Register">Sign Up</a>
        </div>
    </section>
}

